body {
  margin: 0;
  padding: 0;
  width: auto;
  height: 100vh;
  background-color: #000000;
  color: white;
}
input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 50px #f3f0f4 inset;
  -webkit-text-fill-color: rgb(9, 9, 9);
}
input:-webkit-autofill::first-line {
  font-size: 15px;
}
textarea {
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
}
input {
  width: 50%;
}
